<div style="margin-top: 70px; margin-left: 10px; margin-right: 10px;">
  <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px; width: 100%;">
    <i class="fas fa-chevron-left" style="cursor: pointer; margin-right: 10px;" (click)="goBack()"></i>
    <h2 style="text-transform: uppercase; text-align: center; flex-grow: 1;">fiesta</h2>
  </div>
  <h3>📍  Lugar:</h3>
  <p style="margin-bottom: 20px; font-size: 18px;">Ayampe Guest House</p>
  <h3 style="margin-top: 40px;">⏰  Hora:</h3>
  <p style="margin-bottom: 20px; font-size: 18px;">12.30</p>
  <h3  style="margin-top: 40px;">👀  Información útil</h3>
  <p style="margin-bottom: 30px; font-size: 18px;">Para que todas podamos relajarnos y disfrutar al máximo, esta fiesta es solo para personas adultas (+18). ¡Estamos emocionadas de celebrar con ustedes!"
    <p style="margin-bottom: 30px; font-size: 18px;">
  Debido a una disposición de la comuna, no podemos hacer ruido después de las 22:00… así que hemos decidido iniciar desde temprano la celebración. Aprovecha el tiempo y ¡come, bebe y ríe mientras puedas!
</p>
  </div>
