<div style="margin-top: 30px; padding: 20px;">

  <div class="row d-flex" style="justify-content: center; align-items: center;  margin-top: 15px;">

    <!-- <h1 style="text-align: center; color: aqua;">D+G</h1> -->

    <div class="col-sm-12 col-md-6 col-lg-6" style="text-align: center">
      <q class="grey-qo-regular custom-quote">
        Dejarse llevar <br> suena demasiado bien, <br> Jugar al azar, <br> nunca saber dónde puedes terminar <br> o empezar.
      </q>
    
      <p class="grey-qo-regular" style="margin-top: 20px;">Vetusta Morla</p> 
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="../../../assets/1.png" alt="" width="100%">   
    </div>

  </div>

  <div class="custom-margin">
    <button class="btn btn-custom" routerLink="/cerimonia">
        <span class="btn-text">Ceremonia</span>
        <span class="btn-icon"><i class="fas fa-chevron-right"></i></span>
    </button>
    <button class="btn btn-custom" routerLink="/festa">
        <span class="btn-text">Fiesta</span>
        <span xclass="btn-icon"><i class="fas fa-chevron-right"></i></span>
    </button>
  </div>

</div> 
