<div style="margin-top: 70px; margin-left: 10px; margin-right: 10px; text-align: center;">
  <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px; width: 100%;">
    <i class="fas fa-chevron-left" style="cursor: pointer; margin-right: 10px;" (click)="goBack()"></i>
    <h2 style="text-transform: uppercase; text-align: center; flex-grow: 1;">cómo llegar</h2>
  </div>
 

  <div class="content-box" style="margin-top: 50px;">
    <h4>Llegar a Ayampe ✈️</h4>
    <h6 class="mt-4">Desde Quito</h6>
    <p><a href="https://www.rome2rio.com/it/s/Quito/Ayampe" target="_blank" class="btn-link">Ver rome2rio</a></p>
    <h6 class="mt-4">Desde Guayaquil</h6>
    <p><a href="https://www.rome2rio.com/it/s/Guayaquil/Ayampe" target="_blank" class="btn-link">Ver rome2rio</a></p>
    <h6 class="mt-4">Desde Manta</h6>
    <p><a href="https://www.rome2rio.com/it/map/Manta/Ayampe#trips" target="_blank" class="btn-link">Ver rome2rio</a></p>
  </div>


</div>
