<div style="margin-top: 70px; margin-left: 10px; margin-right: 10px;">
  <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px; width: 100%;">
    <i class="fas fa-chevron-left" style="cursor: pointer; margin-right: 10px;" (click)="goBack()"></i>
    <h2 style="text-transform: uppercase; text-align: center; flex-grow: 1;">ceremonia</h2>
  </div>


  <div style="padding: 30px 10px; margin-bottom: 50px;">
    <h3>📍 Lugar:</h3>
  <p style="margin-bottom: 20px; font-size: 18px;">Ayampe Guest House</p>
  <h3 style="margin-top: 40px;">⏰  Hora:</h3>
  <p style="margin-bottom: 20px; font-size: 18px;">11:00</p>
  <h3 style="margin-top: 40px;">🥻 Dresscode:</h3>
  <p style="margin-bottom: 30px; font-size: 18px;">Nuestro día especial se celebrará en la playa, así que ven relajado y no te preocupes demasiado por la formalidad. <br> Aunque no es lo que deseamos, es posible que en Ayampe llueva, como en cualquier otro lugar! Te sugerimos traer un impermeable y venir preparado para el aguaje.</p>
 
  <p style="font-size: 25px; margin-top: 100px; font-weight: bold;" class="text-center">
    <span style="color: #df4c4c;">Lleva colores cálidos 🌅</span><br>
    <span style="color: #00A5CF;">una onda playera 🌊</span><br>
    <span style="color: #28a745;">mucha buena vibra 💃🏽</span>
  </p>
  </div>
 
   
  
 
</div>
