<div style="position: fixed; bottom: 0; width: 100%; text-align: center; padding-top: 5px; padding: 0.5rem; background-color: #183446; border-top: 1px solid black;">
  <div class="container-fluid w-100 d-flex justify-content-between">
    <a [routerLink]="'/home'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="footer-icon">
      <i class="fas fa-home"></i>
    </a>
    <a [routerLink]="'/timetable'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="footer-icon">
      <i class="fas fa-comment"></i>
    </a>
    <a [routerLink]="'/ecuador'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="footer-icon">
      <i class="fas fa-map"></i>
    </a>
    <a [routerLink]="'/donacion'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="footer-icon">
      <i class="fas fa-gift"></i>
    </a>
    <a [routerLink]="'/profile'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="footer-icon">
      <i class="fas fa-user"></i>
    </a>

  </div>
  <p class="footer-text">hecho con ❤️ por Massimiliano Dalla Mura para Dani y Gio</p>
</div>
